/*Cores Principais do site*/
:root {
    --primary-color: #D7E8D5;
    --secondary-color: #000000;
    --text-color: #D7E8D5 --font-family: 'Courier New', Courier, monospace;
    --font-family-alt: 'inter', sans-serif;
}

/*Formataçao do texto e cor do texto*/
body {
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: var(--primary-color);
}

/*Banner personalizado*/
.slogan {
    margin-top: 0.5rem;
    font-style: italic;
    font-weight: 300;
}

.fundo {
    background-image: url('img/fundo.png') center/cover no-repeat;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

/*Barra de Navegaçao/menu */
.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.menu a:hover {
    background-color: #4A3A47;
    color: var(--secondary-color);
}

/*Titulo com paragrafo em destaque*/
main {
    display: grid;
    grid-column: 2;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto 1fr auto;
    gap: 20px;

    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*Animaçao com imagens de pizzas*/
.carrossel {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    overflow: hidden;
    width: 80%;
    max-width: 800px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    object-fit: cover;
}

.slides {
    display: flex;
    width: 400%;
    animation: slide 10s infinite;
}

.slides img {
    width: 100%;
    object-fit: cover;
}

/*Nosso diferencial e batoes*/
.destaques,
.valores {
    font-family: 'Monotype Corsiva', cursive;
    color: var(--text-color);
    font-size: 1.8rem;
    margin-top: 3rem;
}

.destaques ul,
.valores ul {
    list-style: none;
    padding: 0;
}

.destaques li,
.valores li {
    background-color: var(--text-color);
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 5px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;

    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/*Formulario na pagina contatos*/
form {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--secondary-color);
    max-width: 500px;
    margin: 2rem auto;
    text-align: left;
}

.campo {
    margin-bottom: 1.5rem;
    text-align:justify;

}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus,
textarea:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px var(--secondary-color);
}

.submit-btn {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #4A3A47;
}

/*Nosso Cardapio/Catalogo*/
.tabela {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    background-color: #FFCD57;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabela caption {
    caption-side: top;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.tabela th,
.tabela td {
    border: 1px solid #000000;
    color: var(--secondary-color);
    padding: 1rem;
    text-align: left;
}

.tabela th {
    background-color: #E8ED76;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.tabela tr:nth-child(even) {
    background-color: #E6F0AF;
}

.tabela tr:hover {
    background-color: #ddd;
}

/*Rodape*/
footer {
    flex-direction: column;
    grid-column: 1 / -1;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    background-color: #E6F0AF;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 3rem;
}

footer p {
    margin: 0.5rem 0;
    color: rgb(0, 0, 0);
}